@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}

/* solution */
body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header, .footer{
  display: flex;
  justify-content: space-between;
}

ul {
  list-style-type: none;
}

.left-links, .right-links {
  display: flex;
  gap: 8px;
}

a {
text-decoration: none;
color:rgb(119, 114, 114);
}

.right-links {
  margin-right:38px;
}

.content {
  text-align: center;
}


.footer {
  background-color: #eeeeee;

}

button {
  padding: 5px 10px;
}
